<h1>Iterable Integration</h1>
<%= link_to 'Create Event A', new_event_notification_path(actions: event_notifications_create_event_path, event: "A"), class: 'btn btn-primary' %>
<%= link_to 'Create Event B', new_event_notification_path(actions: event_notifications_create_event_with_notification_path, event: "B"), class: 'btn btn-primary' %>